.text__medium {
  font-family: "Open Sants", sans-serif;
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  color: #ecf0f1;
}

.card {
  grid-column-end: span 3;
  display: flex;
  flex-direction: column;
  background-color: blue;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 8px;
  overflow: hidden;
  max-height: 450px;
  width: 250px;
}

.card:hover {
  transform: translateY(-7px);
}

.card_image_container {
  width: 100%;
  height: 450px;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card_image_container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_content {
  padding: 15px;
}

.card_title {
  margin-bottom: 8px;
}

.card_info {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

.card_weight {
  margin-top: -10px;
  margin-bottom: 5px;
}
