.home__page {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header {
  margin-left: 35px;
}

.body {
  margin-left: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.cards {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}
