.home__page {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.home__page .container {
  justify-content: center;
  align-items: center;
}

.reload {
  align-items: center;
  width: 150px;
  margin-left: 620px;
  margin-top: 10px;
  cursor: pointer;
  border: 2px solid;
  color: black;
  border-radius: 3px;
}
.reload:hover {
  color: black;
  background-color: #2b2eff;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.cards {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}
