.pagination {
  width: 80%;
  height: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 130px;
}

.pagination a {
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  cursor: pointer;
  text-decoration: none;
}

.pagination a:hover {
  color: white;
  background-color: #2b2eff;
}
