.principal {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 0 0 5px #ccc;
}

.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}

.details .big_img {
  max-width: 500px;
  min-width: 290px;
  overflow: hidden;
  margin: 25px;
}

.big_img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
  border-radius: 4px;
}

.details .box {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}

.box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.box p {
  line-height: 1.5;
  margin: 15px 0;
}

.box .back {
  background: #333;
  color: white;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 35px;
}
