.search input {
  width: 220px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding-left: 15px;
  color: black;
}

.search button {
  height: 32px;
  width: 70px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .search input {
    width: 150px;
    padding-left: 10px;
    font-size: 15px;
  }

  .search button {
    width: 50px;
    font-size: 12px;
    padding-left: 3px;
  }
}

@media only screen and (max-width: 470px) {
  .search input {
    width: 120px;
    padding-left: 5px;
    font-size: 15px;
  }

  .search button {
    width: 50px;
    font-size: 12px;
    padding-left: 3px;
  }
}
